forexcel.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<!-- Схема для преобразования excel списка -->
 <xs:element name="root">
	<xs:complexType>
      <xs:sequence>
	  <xs:element name="termin" maxOccurs="unbounded">
	   <xs:complexType>
        <xs:sequence>
		 <xs:element name="name" type="xs:string" />
		 <xs:element name="opisanie" type="xs:string"/>
		</xs:sequence>
	   </xs:complexType>
      </xs:element>
	  </xs:sequence>
	</xs:complexType>
 </xs:element>
</xs:schema>